* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu TAS Beginner", cursive;
    /* font-style: italic; */
}

.sometype-mono {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* HEADER */
header {
    background-image: url(./img/wall.png);
    background-repeat: repeat-x;
    text-align: center;
    font-size: 3rem;
}

h1 {
    padding: 2rem;
}

/* MAIN SECTION */
main {
    background-image: url(./img/cork.png);
    background-size: cover;
    padding: 1rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 1rem; */
}

/* COL & CARD */
.col-4 {
    width: calc(100% / 12 * 4);
    margin: 4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card {
    background-color: white;
    width: 80%;
    padding: 15px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* CONTENUTI ALL'INTERNO DELLA CARD */
.card_title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.card_img {
    overflow: hidden;
}

.img {
    width: 100%;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-in;


    &:hover {
        cursor: zoom-in;
        transform: scale(1.3) rotate(10deg) translate(0, 10px);
        transition: transform 0.3s ease-out;
        /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
        filter: brightness(0.7);
    }
}

p {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
}

#pin {
    width: 10%;
    position: absolute;
    left: 45%;
    top: -2%;

}

/* MEDIA QUERY */
@media screen and (max-width: 1440px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    header {
        font-size: 2.5rem;
    }

    .col-4 {
        width: calc(100% / 12 * 6);
        margin: 4rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    /* header {
        /* font-size: 1.8rem; */
    /* } */

    .col-4 {
        width: calc(100% / 12 * 12);
        margin: 4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    header {
        font-size: 2rem;
    }

    .card_title {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }
}

/* OVERLAY */
.open_div {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: 80%;
    height: 90%;
    background-color: white;
    padding: 1rem 1rem 2rem 1rem;
}

.close_div {
    display: none;
}

.overlay_pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 1.5rem;
}

.close_btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 5%;
    font-size: 100%;
    padding: 0.5rem;
    font-weight: 800;
    color: white;
    background-color: black;
    border-radius: 3rem;
    border: none;

    &:hover {
        cursor: pointer
    }
}